h1{
    background-color: rgb(127, 88, 177);
    text-align: center;
    display: block;
    font-size: 40px;
    margin-block-start:50px;
    margin-block-end: 50px;
    margin-inline-start: 320px;
    margin-inline-end: 320px;
    font-weight: bold;
    unicode-bidi: isolate;
    padding-block: 40px 40px;

}
h3 {
    display: block;
    font-size:30px;
    font-weight: bold;
    text-align: left;
}
.border{
    border:1px solid blue;
    padding: 20px;
}
#sin_graph{
    background-color: darkgray;
}
link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
.box {
    margin: 50px;
    border:1px solid black;
    padding: 50px 25px 50px;
    font-weight: bold;
    font-size: 40px;
}
.box1 {
    margin: 50px;
    border:1px solid black;
    padding: 50px 25px 50px;
    font-weight: bold;
    font-size: 10px;
}
.items{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    -ms-flex-order: 2;
    
}